<!-- <p-tabView>
    <p-tabPanel header="About the Photographer" leftIcon="pi pi-calendar"> -->
<!-- <p-sidebar [(visible)]="visibleSidebar5" [fullScreen]="true" [baseZIndex]="10000" class="">
            <div class="row">
                <div class="col-lg-6">
                    <img src="/assets/pictures/hike3.jpeg" height="20%">
                </div>
                <div class="col-lg-6">
                    <h1 class="d-flex justify-content-center slideUp" style="font-weight:normal">Welcome</h1>
                    <div class="container">
                        <h3 class="pt-5  pb-5 slideUp"> My name is Joseangel Pantoja but better known as Angel. I am a
                            Photographer in the San Joaquin County. Im from stockon
                            born and raised. Ive only been doing photography for about a year. I am 21 years old and I currently
                            working on sharpening
                            my skill set. It be great if we could together to make both our dreams come true! Dive through our
                            packages and find which best
                            suites you. Hopefully i'll be able to join you in captureing your special Day!
                        </h3>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <button class="btn btn-dark">Portfolio</button>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-dark">Reviews</button>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-dark">Packages</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </p-sidebar>
        
        <button pButton type="btn" (click)="visibleSidebar5 = true">About Me</button> -->
<!--  </p-tabPanel>
    <p-tabPanel header="" leftIcon="pi pi-inbox">
       
    </p-tabPanel>
    <p-tabPanel header="" leftIcon="pi pi-user" rightIcon="pi pi-star">
       
    </p-tabPanel>
</p-tabView>
 -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
            <h1><i>Angel Pantoja Photography</i></h1>
        </div>
        <div class="col-lg-12 ">
            <div class="row black">
                <div class="col">
                    <p-sidebar [(visible)]="visibleSidebar5" [fullScreen]="true" [baseZIndex]="10000" class="">
                        <div class="row">
                            <div class="col-lg-6">
                                <img src="/assets/pictures/hike3.jpeg" height="20%">
                            </div>
                            <div class="col-lg-6">
                                <h1 class="d-flex justify-content-center slideUp" style="font-weight:normal">Welcome
                                </h1>
                                <div class="container">
                                    <h3 class="pt-5  pb-5 slideUp"> My name is Joseangel Pantoja but better known as
                                        Angel. I am a
                                        Photographer in the San Joaquin County. Im from stockon
                                        born and raised. Ive only been doing photography for about a year. I am 21 years
                                        old and I currently
                                        working on sharpening
                                        my skill set. It be great if we could together to make both our dreams come
                                        true! Dive through our
                                        packages and find which best
                                        suites you. Hopefully i'll be able to join you in captureing your special Day!
                                    </h3>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-4">
                                            <button class="btn btn-dark">Portfolio</button>
                                        </div>
                                        <div class="col-4">
                                            <button class="btn btn-dark">Reviews</button>
                                        </div>
                                        <div class="col-4">
                                            <button class="btn btn-dark">Packages</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-sidebar>

                    <button pButton type="btn" (click)="visibleSidebar5 = true">About Me</button>
                </div>
            </div>


            <div class="col">

            </div>
            <div class="col">

            </div>
        </div>
    </div>
</div>