h2{
    color: black;
}
.white{
    background-color: white;
}
.hero-content{
    position: absolute;
    color: white;
    top: 8rem;
    left: 51rem; 
}
.hero-content2{
    position: absolute;
    color: white;
    top: 12rem;
    left: 12rem; 
}
.blacktxt{
    opacity: 0;
}
.hero-content3{
    position: absolute;
    color: white;
    top: 12rem;
    left: 51rem; 
}
.hero-content4{
    position: absolute;
    color: white;
    top: 12rem;
    left: 95rem; 
}
.hero-content5{
    position: absolute;
    color: white;
    bottom: 1rem;
    left: 95rem; 
}
.border{
    border-bottom: solid white;
}
.green{
    background-color:#AEFFC1;
}
.packages{
    background-color: black;
    color: white;
}
.birthday{
    background-color: blue;
    color: white;
}
.family{
    background-color: green;
    color: black;
}
.maternity{
    background-color: pink;
    color: black;
}
.sports{
    background-color: orange;
    color: black;
}
.wedding{
    background-color: turquoise;
    color: black;
}
.custom{
    background-color: purple;
    color: white;
}