<div class="middle">
  <div class="row packages">
    <div class="col">
      <h3 routerLink="/start-page"> Home</h3>
    </div>
    <div class="col d-flex justify-content-center">
      <p-sidebar [(visible)]="visibleSidebar4" [fullScreen]="true" [baseZIndex]="10000" class="">
        <div class="row">
          <div class="col-lg-6">
            <img src="/assets/pictures/hike3.jpeg" height="20%">
          </div>
          <div class="col-lg-6">
            <h1 class="d-flex justify-content-center slideUp" style="font-weight:normal">Welcome
            </h1>
            <div class="container">
              <h3 class="pt-5  pb-5 slideUp"> My name is Joseangel Pantoja but better known as
                Angel. I am a
                Photographer in the San Joaquin County. Im from stockon
                born and raised. Ive only been doing photography for about a year. I am 21 years
                old and I currently
                working on sharpening
                my skill set. It be great if we could together to make both our dreams come
                true! Dive through our
                packages and find which best
                suites you. Hopefully i'll be able to join you in captureing your special Day!
              </h3>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-4">
                  <a routerLink="/portfolio"><button class="btn btn-dark">Portfolio</button></a>
                </div>
                <div class="col-4">
                  <a routerLink="/reviews"><button class="btn btn-dark">Reviews</button></a>
                </div>
                <div class="col-4">
                  <a routerLink="/packages"><button class="btn btn-dark">Packages</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-sidebar>

      <h3 class="packages" (click)="visibleSidebar4 = true">About Me</h3>
    </div>
    <div class="col d-flex justify-content-center">
      <p-sidebar [(visible)]="visibleSidebar6" [fullScreen]="true" [baseZIndex]="10000" class="">
        <div class="insideBack">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 d-flex justify-content-center">
                <h1>Welcome to my Portfolio</h1>
              </div>
              <div class="col-lg-12 d-flex justify-content-center">
                <h4>Check out some of my featured Shots! Maybe someday your photos could be here!</h4>
              </div>
            </div>
            <div class="row mt-5 d-flex justify-content-center">
              <div class="col-2">
                <h2>Birthday</h2>
                <ngb-carousel *ngIf="birthdaya">
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="birthdaya[0]" alt="Random first slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="birthdaya[1]" alt="Random second slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="birthdaya[2]" alt="Random third slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="birthdaya[3]" alt="Random third slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="birthdaya[4]" alt="Random third slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="birthdaya[5]" alt="Random third slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="birthdaya[6]" alt="Random third slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="birthdaya[7]" alt="Random third slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                </ngb-carousel>
              </div>
              <div class="col-2">
                <h2>Faimly</h2>
                <ngb-carousel *ngIf="family">
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="family[0]" alt="Random first slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="family[1]" alt="Random second slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="family[2]" alt="Random third slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="family[3]" alt="Random third slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="family[4]" alt="Random third slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="family[5]" alt="Random third slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="family[6]" alt="Random third slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="family[7]" alt="Random third slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                </ngb-carousel>
              </div>
              <div class="col-2">
                <h2>Maternity</h2>
                <ngb-carousel *ngIf="maternity">
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="maternity[0]" alt="Random first slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="maternity[1]" alt="Random second slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="maternity[2]" alt="Random third slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="maternity[3]" alt="Random third slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="maternity[4]" alt="Random third slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="maternity[5]" alt="Random third slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="maternity[6]" alt="Random third slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="maternity[7]" alt="Random third slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                </ngb-carousel>
              </div>
              <div class="col-2">
                <h2>Sports</h2>
                <ngb-carousel *ngIf="sports">
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="sports[0]" alt="Random first slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="sports[1]" alt="Random second slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="sports[2]" alt="Random third slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="sports[3]" alt="Random third slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="sports[4]" alt="Random third slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="sports[5]" alt="Random third slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="sports[6]" alt="Random third slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="sports[7]" alt="Random third slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                </ngb-carousel>
              </div>
              <div class="col-2">
                <h2>Wedding</h2>
                <ngb-carousel *ngIf="wedding">
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="wedding[0]" alt="Random first slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="wedding[1]" alt="Random second slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="wedding[2]" alt="Random third slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="wedding[3]" alt="Random third slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="wedding[4]" alt="Random third slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="wedding[5]" alt="Random third slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="wedding[6]" alt="Random third slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="wedding[7]" alt="Random third slide" width="100%">
                    </div>
                    <div class="carousel-caption">

                    </div>
                  </ng-template>
                </ngb-carousel>
              </div>
              <a routerLink="/portfolio">
                <h3>Jump to Portfolio</h3>
              </a>
            </div>
          </div>

        </div>
        <!--     <div class="row">
                        <div class="col-lg-6">
                            <img src="/assets/pictures/hike3.jpeg" height="20%">
                        </div>
                        <div class="col-lg-6">
                            <h1 class="d-flex justify-content-center slideUp" style="font-weight:normal">Welcome
                            </h1>
                            <div class="container">
                                <h3 class="pt-5  pb-5 slideUp"> My name is Joseangel Pantoja but better known as
                                    Angel. I am a
                                    Photographer in the San Joaquin County. Im from stockon
                                    born and raised. Ive only been doing photography for about a year. I am 21 years
                                    old and I currently
                                    working on sharpening
                                    my skill set. It be great if we could together to make both our dreams come
                                    true! Dive through our
                                    packages and find which best
                                    suites you. Hopefully i'll be able to join you in captureing your special Day!
                                </h3>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-4">
                                        <button class="btn btn-dark">Portfolio</button>
                                    </div>
                                    <div class="col-4">
                                        <button class="btn btn-dark">Reviews</button>
                                    </div>
                                    <div class="col-4">
                                        <button class="btn btn-dark">Packages</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

        <!-- <div class="row">
                    <div class="col  d-flex justify-content-center pr-0 pl-0">
                        <p-lightbox [images]="birthday"></p-lightbox>
                    </div>
                </div> -->
        <!-- <div class="row">
                    <div class="col  d-flex justify-content-center pr-0 pl-0">
                        <p-lightbox [images]="family"></p-lightbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col  d-flex justify-content-center pr-0 pl-0">
                        <p-lightbox [images]="maternity"></p-lightbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col  d-flex justify-content-center pr-0 pl-0">
                        <p-lightbox [images]="sports"></p-lightbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col  d-flex justify-content-center pr-0 pl-0">
                        <p-lightbox [images]="wedding"></p-lightbox>
                    </div>
                </div> -->
      </p-sidebar>
      <h3 class="packages" (click)="visibleSidebar6 = true">Portfolio</h3>
    </div>
    <!-- <a routerLink="/portfolio"> <h3 class="packages">Portfolio</h3></a> -->

    <div class="col d-flex justify-content-center">
      <p-sidebar [(visible)]="visibleSidebar5" [fullScreen]="true" [baseZIndex]="10000" class="">
        <div class="reBack">
          <div class="container">
            <div class="row grey2">
              <div class="col-12 d-flex justify-content-center">
                <h2>Howd we do?</h2>
              </div>
              <div class="col-12  d-flex justify-content-center">
                <h3>Please feel to check out and even leave a review!</h3>
              </div>
            </div>
            <div class="row mt-5">
              <app-products *ngIf="reviews"></app-products>
            </div>
            <div class="row">
              <a routerLink="/reviews">
                <h3>Jump to Reviews!</h3>
              </a>
            </div>
          </div>
        </div>
      </p-sidebar>

      <h3 class="packages" (click)="visibleSidebar5 = true">Reviews</h3>

      <!-- <a routerLink="/reviews" ><h3 class="packages">Reviews</h3></a> -->
    </div>
    <div class="col d-flex justify-content-center">
      <p-sidebar [(visible)]="visibleSidebar7" [fullScreen]="true" [baseZIndex]="10000" class="">
        <div class="packBack">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 d-flex justify-content-center">
                <h2>Package Delivered!</h2>
              </div>
              <div class="col-lg-12 d-flex justify-content-center">
                <h3>Which package fits you?</h3>
              </div>
            </div>
            <div class="row  white">
              <div class="col-lg-12">
                <h4>Here we feature a wide variety of packages. We can do anywhere from Birthdays to Weddings!
                  Every special day is importent to us, as well capturing every bright moment in between. Come check
                  out a package and see which suits you.... nothing catching the eye? Try our Custom Package!
                </h4>
              </div>
            </div>
            <div class="row  d-flex justify-content-center">
              <div class="col-lg-4  pt-5">
                <h4> Birthday Package</h4>
                <h5>Starting at $200/hr</h5>
                <!-- <h6>Usb with Digital Images of your day</h6>
                                <h6>Online ordering of Gallery</h6>
                                <h6>Single location</h6> -->
                <!-- <a routerLink="/birthdays"><button class="btn btn-dark">Go to Package</button></a> -->
              </div>
              <div class="col-lg-4  pt-5">
                <h4> Family Package</h4>
                <h5>Starting at $400</h5>
                <!-- <h6>Usb with Digital Images of your day</h6>
                                <h6>Online ordering of Gallery</h6>
                                <h6>Single location</h6> -->
                <!-- a routerLink="/family"><button class="btn btn-dark">Go to Package</button></a> -->
              </div>
              <div class="col-lg-4  pt-5">
                <h4> Maternity Package</h4>
                <h5>Starting at $300</h5>
                <!--<h6>Usb with Digital Images of your day</h6>
                                <h6>Online ordering of Gallery</h6>
                                <h6>Single location</h6> -->
                <!-- <a routerLink="/maternity"><button class="btn btn-dark">Go to Package</button></a> -->
              </div>
              <div class="col-lg-4 pt-5">
                <h4> Sports Package</h4>
                <h5>Starting at $500</h5>
                <!-- <h6>Usb with Digital Images of your day</h6>
                                <h6>Online ordering of Gallery</h6>
                                <h6>Single location</h6> -->
                <!-- <a routerLink="/sports"><button class="btn btn-dark">Go to Package</button></a> -->
              </div>
              <div class="col-lg-4  pt-5">
                <h4> Wedding Package</h4>
                <h5>Starting at $2,400</h5>
                <!-- <h6>Usb with Digital Images of your day</h6>
                                <h6>Online ordering of Gallery</h6>
                                <h6>Single location</h6> -->
                <!-- <a routerLink="/wedding"><button class="btn btn-dark">Go to Package</button></a> -->
              </div>
              <div class="col-lg-4  pt-5">
                <h4> Custom Package</h4>
                <h5>Starting at $TBD</h5>
                <!--  <h6>Usb with Digital Images of your day</h6>
                                <h6>Online ordering of Gallery</h6>
                                <h6>Single location</h6> -->
                <!-- <a routerLink="/custom"><button class="btn btn-dark">Go to Package</button></a> -->
              </div>
            </div>
            <div class="row d-flex justify-content-center">
              <a routerLink="/packages">
                <h4>Jump to Packages</h4>
              </a>
            </div>
          </div>
        </div>
      </p-sidebar>

      <h3 class="packages" (click)="visibleSidebar7 = true">Packages</h3>
      <!-- <a routerLink="/profile" ><h3 class="packages">Profile</h3></a> -->
    </div>
    <div class="col d-flex justify-content-center">
      <p-sidebar [(visible)]="visibleSidebar8" [fullScreen]="true" [baseZIndex]="10000" class="">
        <div class="proBack">
          <div class="container">
            <div class="row d-flex">
              <div class="col-lg-12 d-flex justify-content-center">
                <h3>Welcome to the Profile Page</h3>
              </div>
              <div class="col-lg-12 d-flex justify-content-center align-self-center">
                <a routerLink="/profile"><button class="btn btn-danger"><h3>Jump to Profile</h3></button></a>
              </div>
            </div>
          </div>
        </div>
      </p-sidebar>

      <h3 class="packages" (click)="visibleSidebar8 = true">Profile: {{loginInfo.fName}}</h3>
      <!-- <a routerLink="/profile" ><h3 class="packages">Profile</h3></a> -->
    </div>
  </div>
</div>
<div class="top">
  <div class="row">
    <div class="col-lg-12 d-flex justify-content-center">
      <h1><i>Angel Pantoja Photography</i></h1>
    </div>
  </div>
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-6">
        <img src="./assets/pictures/me.jpeg" height="100%" width="75%%">
      </div>
      <div class="col-6 grey d-flex align-items-center">
        <h2><i>Its not about the end result, but what it took to get there!</i></h2>
      </div>
    </div>
  </div>
</div>
<!-- 
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>One</a>
    <ng-template ngbNavContent>
      <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
        master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
        keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
        salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Two</a>
    <ng-template ngbNavContent>
      <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
        farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
        ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
        helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
        8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
        stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>Three</a>
    <ng-template ngbNavContent>
      <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi.
        Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio.
        Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna,
        egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec
        tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et
        magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget
        neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<pre>Active: {{ active }}</pre> -->

  <!-- <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide" width="100%">
          </div>
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide"  width="100%">
          </div>
          <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide" width="100%">
          </div>
          <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </ng-template>
      </ngb-carousel> -->
  <!-- <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-6">
                <img src="/assets/pictures/me.jpeg" height="100%" width="75%%">
            </div>
            <div class="col-6 grey d-flex align-items-center">
                <h2><i>Its not about the end result, but what it took to get there!</i></h2>
            </div>
        </div>
    </div> -->