#hero{
    background: url("/assets/img/storeImages/black.jpg");
    background-size: cover;
    height: 100vh;
}
.hero-content2{
    position: absolute;
    top: 10rem;
    left: 45rem;
    color: white;
    
}
.hero-content3{
    position: absolute;
    top: 15rem;
    left: 45rem;    
    color: white;
}