#hero{
    background: url("/assets/pictures/hike7.jpeg");
    background-size: cover;
    height: 100vh;
}
.hero-content2{
    position: absolute;
    top: 5rem;
    left: 35rem;
    color: white;
    
}
.hero-content3{
    position: absolute;
    top: 10rem;
    left: 40rem;    
    color: white;
}
.blacktxt{
    opacity: 0;
}